<div class="container max-w-[1280px] relative shadow bg-white rounded-lg container-s p-4">
  <h1 class="w-full font-semibold text-center">
    F4: Operaciones de Cambio por Inversiones Internacionales
  </h1>
  <p>Información de datos mínimos requeridos para las Operaciones de Cambio por Inversiones Internacionales <br>
    Circular Reglamentaria Externa DCIP - 83 del 12 de Septiembre de 2023
  </p>
  <div class="tabs mt-4 w-full">
    <ul class="flex flex-wrap text-base font-medium text-center text-gray-500 border-b border-gray-200">
      <li class="mr-2">
        <a (click)="stepNavigator = 1" aria-current="page" [class.active]="stepNavigator == 1"
          class="inline-block p-4 bg-gray-200 rounded-t-lg">Parte 1</a>
      </li>
      <!-- <li class="mr-2">
                  <button type="button" [disabled]="formF3.steps.step1 == false" (click)="stepNavigator = 2"
                    aria-current="page" [class.active]="stepNavigator == 2" class="h-full p-4 bg-gray-200 rounded-t-lg">
                    Parte 2
                  </button>
                </li> -->
      <li class="mr-2">
        <button type="button" [disabled]="formF4.steps.step1 == false" (click)="stepNavigator = 2" aria-current="page"
          di [class.active]="stepNavigator == 2" class="h-full p-4 bg-gray-200 rounded-t-lg">
          Parte 2
        </button>
      </li>
    </ul>
  </div>
  <div class="w-full bg-white min-h-[300px] lg:px-10">
    <app-f4step1 *ngIf="stepNavigator == 1" (step)="changeStep($event)" [formF4]="formF4" [monedas]="monedas"
      [formId]="formID"></app-f4step1>
    <!-- <app-f2step2 *ngIf="stepNavigator == 2" (step)="changeStep($event)" [formF3]="formF3" [monedas]="monedas"
                [formId]="formID"></app-f2step2> -->
    <app-f4step2 *ngIf="stepNavigator == 2" (step)="changeStep($event)" [formF4]="formF4" [monedas]="monedas"
      [formId]="formID"></app-f4step2>
  </div>
</div>