
td {
  border: 1px #bbb9b9 solid;
}
.text-10px {
  font-size: 11px;
}
.bg-yellow-200 {
  content: "X" !important;
}
.py-1 p {
  font-weight: 800;
}


.mtr-2{
  margin-top: 10px;
 }
 .min-h-15px {
  min-height: 24px;
}