<app-loader-full-page *ngIf="!loader"></app-loader-full-page>
<div *ngIf="loader == true">
  <app-header [empresa]="formsD.empresa"></app-header>
  <div class="w-full flex justify-center pt-4 px-4">
    <div class="container max-w-[1280px]">
      <button type="button"
        class="fixed bottom-4 left-2 z-20 rounded-lg py-2 px-4 bg-gray-300 hover:bg-blue-900 hover:text-white shadow-sm"
        routerLink="/">Volver</button>
    </div>
  </div>
  <div class="w-full min-h-[84.3vh] flex pt-4 justify-center relative items-start z-0 p-4">
    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>
</div>
