<app-loader-full-page *ngIf="!loader"></app-loader-full-page>
<div *ngIf="loader == true">
  <app-header [empresa]="formsD.empresa"></app-header>
  <div class="w-full flex justify-center pt-4 px-4">
    <div class="container max-w-[1280px]">
      <button type="button" class="m-auto" routerLink="/"><-- Volver</button>
    </div>
  </div>
  <div class="w-full min-h-[84.3vh] flex pt-4 justify-center relative items-start z-0 p-4">
    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>
</div>