<div class="w-[816px] h-[1544px] relative p-0 bg-white">
  <app-header></app-header>
  <img
    class="w-3 absolute left-0 bottom-12"
    src="assets/img/vigilado-superintendencia-financiera-de-colombia.png"
    alt=""
  />
  <img
    class="w-3 absolute left-0 bottom-12"
    src="http://localhost:3030/assets/img/vigilado-superintendencia-financiera-de-colombia.png"
    alt=""
  />
  <div class="mt-0.5">
    <div class="grid grid-cols-12 px-5">
      <div class="col-span-8 px-3 pt-3">
        <h1 class="text-center text-sm font-semibold m-0">
          F6: Declaración de Cambio Crédito Externo Otorgado a Residentes -
          Deuda Externa Pasiva<br />
          Antiguo Formulario No. 6<br />
          <span class="text-10px"
            >Circular Reglamentaria Externa DCIP - 83 del 12 de Septiembre de
            2023</span
          >
        </h1>
      </div>
      <div class="col-span-4 px-3 pt-3">
        <div>
          <h4 class="text-xs w-100 font-semibold text-start">
            I. Tipo de operación
          </h4>
          <div class="grid grid-cols-12">
            <div class="col-span-10 border p-1 py-1.5">
              <p class="text-10px text-end font-semibold">Inicial</p>
            </div>
            <div
              class="col-span-2 border border-l-0 p-1 py-1.5"
              [class.bg-black]="form.data.tipo_de_solicictud.tipo == 'Inicial'"
            ></div>
            <div class="col-span-10 border p-1 py-1.5">
              <p class="text-10px text-end font-semibold">Modificación</p>
            </div>
            <div
              class="col-span-2 border-l-0 border p-1 py-1.5"
              [class.bg-black]="
                form.data.tipo_de_solicictud.tipo == 'Modificación'
              "
            ></div>
          </div>
        </div>
      </div>
      <div class="col-span-3 p-1">
        <p class="text-10px text-start pb-1 font-semibold text-black">Fecha</p>
        <p
          class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
        >
          {{ form.data.tipo_de_solicictud.fecha_solicitud }}
        </p>
      </div>
      <div class="col-span-3 p-1">
        <p class="text-10px text-start pb-1 font-semibold text-black">
          Número crédito
        </p>
        <p
          class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
        >
          {{ form.data.tipo_de_solicictud.numero_de_credito }}
        </p>
      </div>
      <div class="col-span-12 p-1">
        <h4 class="text-xs w-100 font-semibold text-start">
          II. Información del residente o deudor
        </h4>
      </div>
      <div class="grid grid-cols-12 col-span-12 border p-2">
        <div class="col-span-3 p-1">
          <p class="text-10px text-start pb-1 font-semibold text-black">
            Tipo de Identificación
          </p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{ form.data.informacion_del_residente_deudor.tipo_identificacion }}
          </p>
        </div>
        <div class="col-span-3 p-1">
          <p class="text-10px text-start pb-1 font-semibold text-black">
            Número de identificación
          </p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{
              form.data.informacion_del_residente_deudor.numero_identifiacion
            }}
          </p>
        </div>
        <div class="col-span-3 p-1">
          <p class="text-10px text-start pb-1 font-semibold text-black">
            Nombre o razón social
          </p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{ form.data.informacion_del_residente_deudor.nombre_razon_social }}
          </p>
        </div>
        <div class="col-span-3 p-1">
          <p class="text-10px text-start pb-1 font-semibold text-black">
            Código ciudad
          </p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{ form.data.informacion_del_residente_deudor.codigo_cuidad }}
          </p>
        </div>
        <div class="col-span-3 p-1">
          <p class="text-10px text-start pb-1 font-semibold text-black">
            Dirección
          </p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{ form.data.informacion_del_residente_deudor.direccion }}
          </p>
        </div>
        <div class="col-span-3 p-1">
          <p class="text-10px text-start pb-1 font-semibold text-black">
            Teléfono (Nvl. nacional)
          </p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{ form.data.informacion_del_residente_deudor.telefono }}
          </p>
        </div>
        <div class="col-span-4 p-1">
          <p class="text-10px text-start pb-1 font-semibold text-black">
            Correo
          </p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{ form.data.informacion_del_residente_deudor.correo }}
          </p>
        </div>
        <div class="col-span-2 p-1">
          <p class="text-10px text-start pb-1 font-semibold text-black">
            Código CIIU
          </p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{ form.data.informacion_del_residente_deudor.codigo_CIIU }}
          </p>
        </div>
      </div>
      <div class="col-span-12 p-1">
        <h4 class="text-xs w-100 font-semibold text-start">
          III. Información del acreedor
        </h4>
      </div>
      <div class="grid grid-cols-12 col-span-12 border p-2">
        <div class="col-span-3 p-1">
          <p class="text-10px text-start pb-1 font-semibold text-black">
            Tipo de Identificación
          </p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{ form.data.informacion_del_acreedor.tipo_identificacion }}
          </p>
        </div>
        <div class="col-span-3 p-1">
          <p class="text-10px text-start pb-1 font-semibold text-black">
            Número de identificación
          </p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{ form.data.informacion_del_acreedor.numero_identifiacion }}
          </p>
        </div>
        <div class="col-span-3 p-1">
          <p class="text-10px text-start pb-1 font-semibold text-black">
            Nombre o razón social
          </p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{ form.data.informacion_del_acreedor.nombre_razon_social }}
          </p>
        </div>
        <div class="col-span-3 p-1">
          <p class="text-10px text-start pb-1 font-semibold text-black">País</p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{ form.data.informacion_del_acreedor.pais }}
          </p>
        </div>
        <div class="col-span-6 p-1">
          <p class="text-10px text-start pb-1 font-semibold text-black">
            Tipo de prestatario o deudor
          </p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{ form.data.informacion_del_acreedor.tipo_presario_deudor }}
          </p>
        </div>
        <div class="col-span-4 p-1">
          <p class="text-10px text-start pb-1 font-semibold text-black">
            Correo
          </p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{ form.data.informacion_del_acreedor.correo }}
          </p>
        </div>
        <div class="col-span-2 p-1">
          <p class="text-10px text-start pb-1 font-semibold text-black">
            Código CIIU
          </p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{ form.data.informacion_del_acreedor.codigo_CIIU }}
          </p>
        </div>
      </div>

      <div class="col-span-12 p-1">
        <h4 class="text-xs w-100 font-semibold text-start">
          IV. Descripción del préstamo
        </h4>
      </div>
      <div class="grid grid-cols-12 col-span-12 border p-2">
        <div class="col-span-12 p-1">
          <p class="text-10px text-start pb-1 font-semibold text-black">
            Propósito del préstamo
          </p>
          <p
            class="text-10px text-start px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{ form.data.descripcion_del_prestamo.codigo_proposito_prestamo }}
          </p>
        </div>
        <div class="col-span-3 p-1">
          <p class="text-10px text-start pb-1 font-semibold text-black">
            Código moneda
          </p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{ form.data.descripcion_del_prestamo.codigo_moneda }}
          </p>
        </div>
        <div class="col-span-3 p-1">
          <p class="text-10px text-start pb-1 font-semibold text-black">
            Valor Moneda estipulada
          </p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{
              form.data.descripcion_del_prestamo.valor_moneda_estipulada
                | dolarFormat : ""
            }}
          </p>
        </div>
        <div class="col-span-3 p-1">
          <p class="text-10px text-start pb-1 font-semibold text-black">
            Tasa de interés
          </p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{ form.data.descripcion_del_prestamo.tasa_interes }}
          </p>
        </div>
        <div class="col-span-3 p-1">
          <p class="text-10px text-start pb-1 font-semibold text-black">
            Spread o valor
          </p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{ form.data.descripcion_del_prestamo.spread_valor }}
          </p>
        </div>
        <div class="col-span-3 p-1">
          <p class="text-10px text-start pb-1 font-semibold text-black">
            Plazo
          </p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{ form.data.descripcion_del_prestamo.plazo }}
          </p>
        </div>
        <div class="col-span-3 p-1">
          <p class="text-10px text-start pb-1 font-semibold text-black">
            Tiempo
          </p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{ form.data.descripcion_del_prestamo.tiempo }}
          </p>
        </div>
        <div class="col-span-3 p-1">
          <p class="text-10px text-start pb-1 font-semibold text-black">
            Número de depósitos por financia
          </p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{
              form.data.descripcion_del_prestamo.numero_deposito_dinanciacion
            }}
          </p>
        </div>
      </div>
      <div class="col-span-12 p-1">
        <h4 class="text-xs w-100 font-semibold text-start">
          V. Plan de amortización
        </h4>
      </div>
      <div class="col-span-12 p-2 border">
        <table class="w-full">
          <thead class="p-2 border-b-[1px] border-b-1px border-black">
            <tr>
              <th class="py-2 text-10px">Fecha</th>
              <th class="py-2 text-10px">Valor cuota</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="text-center"
              *ngFor="let item of form.data.plan_de_armonizacion; let i = index"
            >
              <td class="py-0.5 text-10px">
                {{ form.data.plan_de_armonizacion[i].fecha }}
              </td>
              <td class="py-0.5 text-10px">
                {{
                  form.data.plan_de_armonizacion[i].valor_cuota
                    | dolarFormat : ""
                }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-span-12 p-1">
        <h4 class="text-xs w-100 font-semibold text-start">
          VI. Información para la transmisión de otros procedimientos especiales
          de crédito
        </h4>
      </div>
      <div class="grid grid-cols-12 col-span-12 border p-2 mb-2">
        <ng-container
          *ngFor="
            let item of form.data
              .informacion_transmision_procedimientos_credito;
            let i = index
          "
        >
          <div class="col-span-3 p-1">
            <p class="text-10px text-start pb-1 font-semibold text-black">
              Tipo
            </p>
            <p
              class="text-10px text-center px-2 py-1.5 min-h-15px w-full border rounded-sm"
            >
              {{ item.tipo_transmision }}
            </p>
          </div>
          <div *ngIf="item.tipo_transmision !== ''" class="col-span-3 p-1">
            <p class="text-10px text-start pb-1 font-semibold text-black">
              {{
                item.tipo_transmision == "Fraccionamiento"
                  ? "Número de crédito a fraccionar"
                  : item.tipo_transmision == "Sustitución"
                  ? "Número de crédito a sustituir"
                  : item.tipo_transmision == "Consolidación"
                  ? "Número de crédito a consolidar"
                  : item.tipo_transmision == "Indexación"
                  ? "Número de crédito a indexar"
                  : ""
              }}
            </p>
            <p
              *ngIf="item.tipo_transmision !== ''"
              class="text-10px text-center px-2 py-1.5 min-h-15px w-full border rounded-sm"
            >
              {{ item.numero_de_creaditos_sustituir }}
            </p>
          </div>
          <div
            *ngIf="item.tipo_transmision == 'Indexación'"
            class="col-span-3 p-1"
          >
            <p class="text-10px text-start pb-1 font-semibold text-black">
              Código moneda a indexar
            </p>
            <p
              class="text-10px text-center px-2 py-1.5 min-h-15px w-full border rounded-sm"
            >
              {{ item.codigo_moneda }}
            </p>
          </div>
        </ng-container>
      </div>

      <div class="col-span-12 p-1 mt-2">
        <p class="text-10px text-justify">
          Declaro bajo gravedad de juramento que la información aquí
          suministrada es cierta, completa y actualizada, corresponde a los
          datos mínimos de las operaciones de cambio requeridos por las
          autoridades cambiarias competentes, entiendo y asumo la
          responsabilidad por cualquier falsedad o inconsistencia en esta
          información. A su vez, reconozco y acepto que CORFICOLOMBIANA Y/O CASA
          DE BOLSA. en su calidad de Intermediario del Mercado Cambiario en caso
          de ser requerido por las autoridades administrativas y sancionatorias
          competentes, frente a esta operación, entregue la información mínima
          suministrada, la cual se entenderá como cierta y veraz. He leído el
          formato y el instructivo que con la firma se está aceptando las
          condiciones de esta solicitud.
        </p>
      </div>
      <div class="col-span-12 p-1">
        <h4 class="text-xs w-100 font-semibold text-start">
          VII. Identificación del declarante
        </h4>
      </div>
      <div class="col-span-12 border p-2 grid grid-cols-12 gap-4">
        <div class="col-span-6 pr-1">
          <p class="text-10px min font-semibold">Nombre</p>
          <div class="px-3 py-1 border text-10px min-h-15px uppercase">
            {{ usuario.nombre }}
          </div>
          <p class="text-10px mt-2 font-semibold">Documento</p>
          <div class="px-3 py-1 border text-10px min-h-15px">
            {{ usuario.documento }}
          </div>
        </div>

        <div class="col-span-6 flex justify-between items-start flex-col">
          <p class="text-10px font-semibold text-start">Firma</p>
          <div class="p-5 border-b-[1px] border-b-1px pt-4 w-full"></div>
        </div>
      </div>
    </div>
  </div>
</div>
