<div>
  <!-- <div
    class="fixed bottom-4 right-2 z-20 rounded-lg py-2 px-4 bg-gray-300 hover:bg-blue-900 hover:text-white shadow-sm"
  >
    <a
      target="_blank"
      href="http://web.whatsapp.com/send?phone=3105797539&text=Necesito ayuda con el formulario de vinculacion"
      >Ayuda</a
    >
  </div> -->
  <div class="fixed bottom-4 left-2 z-20 rounded-lg py-2 px-4 bg-gray-300 hover:bg-blue-900 hover:text-white shadow-sm">
    <button type="button" (click)="newForm()">Reiniciar formularios</button>
  </div>
  <div
    class="fixed bottom-4 right-2 z-20 rounded-lg py-2 px-4 bg-gray-300 hover:bg-blue-900 hover:text-white shadow-sm">
    <button type="button" (click)="descargarPDF()">
      Descargar instructivo
    </button>
  </div>
</div>