<div class="w-[816px] h-[1344px] relative p-0 bg-white">
  <app-header></app-header>
  <img
    class="w-3 absolute left-0 bottom-12"
    src="assets/img/vigilado-superintendencia-financiera-de-colombia.png"
    alt=""
  />
  <div class="mt-0.5">
    <div class="grid grid-cols-12 px-5">
      <div class="col-span-8 p-3">
        <h1 class="text-center text-base font-semibold m-0">
          Información de datos mínimos requeridos para las <br />
          Operaciones de endeudamiento externo con Razón de Canalización (F3)
          <br />
          <span class="text-10px"
            >Circular Reglamentaria Externa DCIP - 83 del 12 de Septiembre de
            2023</span
          >
        </h1>
      </div>
      <div class="col-span-4 p-3">
        <div>
          <h4 class="text-10px w-100 font-semibold text-start">
            I. Tipo de operación
          </h4>
          <div class="grid grid-cols-12">
            <div class="col-span-10 border p-1 py-1.5">
              <p class="text-10px text-end">Inicial</p>
            </div>
            <div
              class="col-span-2 border border-l-0 p-1 py-1.5"
              [class.bg-black]="form.data.tipo_de_operacion.tipo == 'Inicial'"
            ></div>
            <div class="col-span-10 border-y-0 border p-1 py-1.5">
              <p class="text-10px text-end">Corrección</p>
            </div>
            <div
              class="col-span-2 border-l-0 border border-y-0 p-1 py-1.5"
              [class.bg-black]="
                form.data.tipo_de_operacion.tipo == 'Corrección'
              "
            ></div>
            <div class="col-span-10 border p-1 py-1.5">
              <p class="text-10px text-end">Cambio de formulario</p>
            </div>
            <div
              class="col-span-2 border-l-0 border p-1 py-1.5"
              [class.bg-black]="
                form.data.tipo_de_operacion.tipo == 'Cambio de formulario'
              "
            ></div>
          </div>
        </div>
      </div>

      <div class="col-span-3 p-1">
        <p class="text-10px text-start pb-1">Operación de</p>
        <p
          class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
        >
          {{ form.data.tipo_de_operacion.ingreso_o_egreso }}
        </p>
      </div>
      <div class="col-span-3 p-1">
        <p class="text-10px text-start pb-1">Devolucion</p>
        <p
          class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
        >
          {{ form.data.tipo_de_operacion.devolucion }}
        </p>
      </div>

      <div class="col-span-12 p-1">
        <h4 class="text-10px w-100 font-semibold text-start">
          II. Identificación de la declaración
        </h4>
      </div>
      <div class="grid grid-cols-12 col-span-12 border p-2">
        <div class="col-span-3 p-1">
          <p class="text-10px text-start pb-1">Fecha del Tramite</p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{ form.data.identificacion_de_la_declaracion.fecha_tramite }}
          </p>
        </div>
        <div class="col-span-3 grid grid-cols-12 p-1">
          <div class="col-span-9 pr-1">
            <p class="text-10px text-start pb-1">Nit del IMC</p>
            <p
              class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
            >
              {{ form.data.identificacion_de_la_declaracion.nit_imc }}
            </p>
          </div>
          <div class="col-span-3 pl-1">
            <p class="text-10px text-start pb-1">DV</p>
            <p
              class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
            >
              {{ form.data.identificacion_de_la_declaracion.dv }}
            </p>
          </div>
        </div>
        <div class="col-span-4 p-1">
          <p class="text-10px text-start pb-1">
            Número de declaración
            <span class="text-[10px]">(Uso exclusivo IMC)</span>
          </p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{ form.data.identificacion_de_la_declaracion.numero_declaracion }}
          </p>
        </div>
      </div>
      <div class="col-span-12 p-1">
        <h4 class="text-10px w-100 font-semibold text-start">
          III. Identificación de la operación anterior
          <span class="text-xs">(Para cambio de formulario o corrección)</span>
        </h4>
      </div>
      <div class="grid grid-cols-12 col-span-12 border p-2">
        <div class="col-span-3 p-1">
          <p class="text-10px text-start pb-1">Fecha de la operación inicial</p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{ form.data.identificacion_operacion_anterior.fecha_operacion }}
          </p>
        </div>
        <div class="col-span-3 grid grid-cols-12 p-1">
          <div class="col-span-9 pr-1">
            <p class="text-10px text-start pb-1">Nit del IMC</p>
            <p
              class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
            >
              {{ form.data.identificacion_operacion_anterior.nit_imc }}
            </p>
          </div>
          <div class="col-span-3 pl-1">
            <p class="text-10px text-start pb-1">DV</p>
            <p
              class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
            >
              {{ form.data.identificacion_operacion_anterior.dv }}
            </p>
          </div>
        </div>
        <div class="col-span-3 p-1">
          <p class="text-10px text-start pb-1">
            Deuda externa <span class="text-[10px]">(si aplica)</span>
          </p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{
              form.data.identificacion_operacion_anterior.numero_deuda_externa
            }}
          </p>
        </div>
        <div class="col-span-3 p-1">
          <p class="text-10px text-start pb-1">
            Número de declaración de cambio
          </p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{
              form.data.identificacion_operacion_anterior
                .numero_declaracion_cambio
            }}
          </p>
        </div>
      </div>

      <div class="col-span-12 p-1">
        <h4 class="text-10px w-100 font-semibold text-start">
          IV. Detalle del crédito
        </h4>
      </div>

      <div class="grid grid-cols-12 col-span-12 border p-2">
        <div class="col-span-3 p-1">
          <p class="text-10px text-start pb-1">Número de préstamo</p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{ form.data.detalle_del_credito.numero_prestamo }}
          </p>
        </div>
        <div class="col-span-3 p-1">
          <p class="text-10px text-start pb-1">Tipo de Identificación</p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{ form.data.detalle_del_credito.tipo_identificacion }}
          </p>
        </div>
        <div class="col-span-3 p-1">
          <p class="text-10px text-start pb-1">Número de identificación</p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{ form.data.detalle_del_credito.numero_identificacion }}
          </p>
        </div>
        <div class="col-span-3 p-1">
          <p class="text-10px text-start pb-1">Nombre del deudor</p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{ form.data.detalle_del_credito.nombre_deudor }}
          </p>
        </div>
        <div class="col-span-3 p-1">
          <p class="text-10px text-start pb-1">Nombre del acreedor</p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{ form.data.detalle_del_credito.nombre_acreedor }}
          </p>
        </div>
      </div>

      <div class="col-span-12 p-1">
        <h4 class="text-10px w-100 font-semibold text-start">
          V. Descripción de la declaración de cambio
        </h4>
      </div>

      <div class="grid grid-cols-12 col-span-12 border p-2">
        <div class="col-span-3 p-1">
          <p class="text-10px text-start pb-1">Cod. Mda. Negociación</p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{ form.data.detalle_de_la_declaracion.codigo_moneda }}
          </p>
        </div>
        <div class="col-span-3 p-1">
          <p class="text-10px text-start pb-1">Vr. Total Mda Negociación</p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{ form.data.detalle_de_la_declaracion.valor_total_moneda | dolarFormat: '' }}
          </p>
        </div>
        <div class="col-span-3 p-1">
          <p class="text-10px text-start pb-1">Tasa de cambio a dólar</p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{ form.data.detalle_de_la_declaracion.tasa_de_cambio_dolar | dolarFormat: '' }}
          </p>
        </div>
        <div class="col-span-3 p-1">
          <p class="text-10px text-start pb-1">Valor total en dólares</p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{ form.data.detalle_de_la_declaracion.valor_total_dolares | dolarFormat: '' }}
          </p>
        </div>
        <div class="col-span-3 p-1">
          <p class="text-10px text-start pb-1">
            Tasa de cambio moneda estipulada
          </p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{
              form.data.detalle_de_la_declaracion.tasa_cambio_moneda_negociacion
            }}
          </p>
        </div>
        <div class="col-span-3 p-1">
          <p class="text-10px text-start pb-1">
            Valor total en moneda Estipulada
          </p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{ form.data.detalle_de_la_declaracion.valor_moneda_stipulada }}
          </p>
        </div>
      </div>

      <div class="col-span-12 p-1">
        <h4 class="text-10px w-100 font-semibold text-start">
          VI. Información de numerales
        </h4>
      </div>
      <div class="col-span-12 p-2 border">
        <table class="w-full">
          <thead class="p-2 border-b-[1px] border-b-1px border-black">
            <tr>
              <th class="py-2 text-10px">Numeral cambiario</th>
              <th class="py-2 text-10px">Valor moneda negociación</th>
              <th class="py-2 text-10px">Valor moneda en dólares</th>
              <th class="py-2 text-10px">Valor Moneda estipulada</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="text-center"
              *ngFor="
                let item of form.data.informacion_de_numerales;
                let i = index
              "
            >
              <td class="py-0.5 text-10px">
                {{ form.data.informacion_de_numerales[i].numeral_cambiario }}
              </td>
              <td class="py-0.5 text-10px">
                {{ form.data.informacion_de_numerales[i].valor_total_moneda | dolarFormat: '' }}
              </td>
              <td class="py-0.5 text-10px">
                {{ form.data.informacion_de_numerales[i].valor_dolares | dolarFormat: '' }}
              </td>
              <td class="py-0.5 text-10px">
                {{
                  form.data.informacion_de_numerales[i].valor_moneda_estipulada | dolarFormat: ''
                }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- <div class="col-span-12 p-2 border flex flex-wrap mt-2">
        <p class="text-10px text-justify mt-1">Observaciones</p>
        <div class="w-[90%] p-2 border-b-[1px] border-b-1px"></div>
        <div class="w-full p-2 border-b-[1px] border-b-1px"></div>
        <div class="w-full p-2 border-b-[1px] border-b-1px"></div>
        <div class="w-full p-2 border-b-[1px] border-b-1px"></div>
      </div> -->
      <div class="col-span-12 p-1 mt-2">
        <p class="text-[8px] text-justify">
          Declaro bajo gravedad de juramento que la información aquí
          suministrada es cierta, completa y actualizada, corresponde a los
          datos mínimos de las operaciones de cambio requeridos por las
          autoridades cambiarias competentes, entiendo y asumo la
          responsabilidad por cualquier falsedad o inconsistencia en esta
          información. A su vez, reconozco y acepto que CORFICOLOMBIANA Y/O CASA
          DE BOLSA. en su calidad de Intermediario del Mercado Cambiario en caso
          de ser requerido por las autoridades administrativas y sancionatorias
          competentes, frente a esta operación, entregue la información mínima
          suministrada, la cual se entenderá como cierta y veraz. He leído el
          formato y el instructivo que con la firma se está aceptando las
          condiciones de esta solicitud.
        </p>
      </div>
      <div class="col-span-12 p-1">
        <h4 class="text-10px w-100 font-semibold text-start">
          VII. Identificación del declarante
        </h4>
      </div>
      <div class="col-span-12 border p-2 grid grid-cols-12">
        <div class="col-span-6 pr-1">
          <p class="text-10px">Nombre</p>
          <div class="px-3 py-1 border text-10px min-h-15px uppercase">{{ usuario.nombre }}</div>
          <p class="text-10px mt-2">Documento</p>
          <div class="px-3 py-1 border text-10px min-h-15px">{{ usuario.documento }}</div>
        </div>
        
        <div class="col-span-6">
          <p class="text-10px">Firma</p>
          <div class="p-5 border-b-[1px] border-b-1px pt-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>
