<div class="w-[816px] h-[1344px] relative p-0 bg-white">
  <app-header></app-header>
  <img
    class="w-3 absolute left-0 bottom-12"
    src="assets/img/vigilado-superintendencia-financiera-de-colombia.png"
    alt=""
  />
  <div class="mt-0.5">
    <div class="grid grid-cols-12 px-5">
      <div class="col-span-8 p-3">
        <h1 class="text-center text-base font-semibold m-0">
          Información de datos mínimos requeridos para las <br />
          Operaciones de Cambio por Importaciones de Bienes. <br />
          <span class="text-10px"
            >Circular Reglamentaria Externa DCIP - 83 del 12 de Septiembre de
            2023</span
          >
        </h1>
      </div>
      <div class="col-span-4 p-3">
        <div>
          <h4 class="text-10px w-100 font-semibold text-start">
            I. Tipo de operación
          </h4>
          <div class="grid grid-cols-12">
            <div class="col-span-10 border p-1 py-1.5">
              <p class="text-10px text-end">Inicial</p>
            </div>
            <div
              class="col-span-2 border border-l-0 p-1 py-1.5"
              [class.bg-black]="form.data.tipo_de_operacion == 'Inicial'"
            ></div>
            <div class="col-span-10 border-y-0 border p-1 py-1.5">
              <p class="text-10px text-end">Corrección</p>
            </div>
            <div
              class="col-span-2 border-l-0 border border-y-0 p-1 py-1.5"
              [class.bg-black]="form.data.tipo_de_operacion == 'Corrección'"
            ></div>
            <div class="col-span-10 border p-1 py-1.5">
              <p class="text-10px text-end">Cambio de formulario</p>
            </div>
            <div
              class="col-span-2 border-l-0 border p-1 py-1.5"
              [class.bg-black]="
                form.data.tipo_de_operacion == 'Cambio de formulario'
              "
            ></div>
          </div>
        </div>
      </div>
      <div class="col-span-12 px-1 pb-1">
        <h4 class="text-10px w-100 font-semibold text-start">
          II. Identificación de la declaración
        </h4>
      </div>
      <div class="grid grid-cols-12 col-span-12 border p-2">
        <div class="col-span-3 p-1">
          <p class="text-10px text-start pb-1">Fecha del Tramite</p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{ form.data.identificacion_de_la_operacion.fecha_tramite }}
          </p>
        </div>
        <div class="col-span-3 grid grid-cols-12 p-1">
          <div class="col-span-9 pr-1">
            <p class="text-10px text-start pb-1">Nit del IMC</p>
            <p
              class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
            >
              {{ form.data.identificacion_de_la_operacion.nit_imc }}
            </p>
          </div>
          <div class="col-span-3 pl-1">
            <p class="text-10px text-start pb-1">DV</p>
            <p
              class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
            >
              {{ form.data.identificacion_de_la_operacion.dv }}
            </p>
          </div>
        </div>
        <div class="col-span-4 p-1">
          <p class="text-10px text-start pb-1">
            Número de declaración
            <span class="text-10px">(Uso exclusivo IMC)</span>
          </p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{ form.data.identificacion_de_la_operacion.numero_declaracion }}
          </p>
        </div>
      </div>
      <div class="col-span-12 p-1">
        <h4 class="text-10px w-100 font-semibold text-start">
          III. Identificación de la operación anterior
          <span class="text-10px">(Para cambio de formulario o corrección)</span>
        </h4>
      </div>
      <div class="grid grid-cols-12 col-span-12 border p-2">
        <div class="col-span-3 p-1">
          <p class="text-10px text-start pb-1">Fecha de la operación inicial</p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{ form.data.identificacion_operacion_anterior.fecha_operacion }}
          </p>
        </div>
        <div class="col-span-3 grid grid-cols-12 p-1">
          <div class="col-span-9 pr-1">
            <p class="text-10px text-start pb-1">Nit del IMC</p>
            <p
              class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
            >
              {{ form.data.identificacion_operacion_anterior.nit_imc }}
            </p>
          </div>
          <div class="col-span-3 pl-1">
            <p class="text-10px text-start pb-1">DV</p>
            <p
              class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
            >
              {{ form.data.identificacion_operacion_anterior.dv }}
            </p>
          </div>
        </div>
        <div class="col-span-3 p-1">
          <p class="text-10px text-start pb-1">
            Deuda externa <span class="text-10px">(si aplica)</span>
          </p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{
              form.data.identificacion_operacion_anterior.numero_deuda_externa
            }}
          </p>
        </div>
        <div class="col-span-3 p-1">
          <p class="text-10px text-start pb-1">
            Número de declaración de cambio
          </p>
          <p
            class="text-10px text-center px-2 p-1.5 min-h-15px w-full border rounded-sm"
          >
            {{
              form.data.identificacion_operacion_anterior
                .numero_declaracion_cambio
            }}
          </p>
        </div>
      </div>
      <div class="col-span-6 p-1">
        <h4 class="text-10px w-100 font-semibold text-start">
          IV. Detalle de la declaración
        </h4>
      </div>
      <div class="col-span-6 p-1">
        <h4 class="text-10px w-100 font-semibold text-start">
          V. Tipo de entidad
        </h4>
      </div>
      <div class="col-span-6 border px-2 pt-2 mr-2">
        <div class="text-10px flex w-full justify-between">
          <p class="text-10px">Devolución</p>
          <div class="flex gap-2">
            <div class="flex gap-1">
              <p class="text-10px">SI</p>
              <input
                type="checkbox"
                disabled
                [attr.checked]="form.data.declaracion_detalle.devolucion === 'SI' ? true : null"/>
            </div>
            <div class="flex gap-1">
              <p class="text-10px">NO</p>
              <input
                type="checkbox"
                disabled
                [attr.checked]="form.data.declaracion_detalle.devolucion === 'NO' ? true : null"/>
            </div>
          </div>
        </div>
        <div class="text-10px flex w-full justify-between mt-2">
          <p class="text-10px">Información consolidada</p>
          <div class="flex gap-2">
            <div class="flex gap-1">
              <p class="text-10px">SI</p>
              <input
                type="checkbox"
                disabled 
                [attr.checked]="form.data.declaracion_detalle.informacion_consolidada === 'SI' ? true : null"
              />
            </div>
            <div class="flex gap-1">
              <p class="text-10px">NO</p>
              <input
                type="checkbox"
                disabled 
                [attr.checked]="form.data.declaracion_detalle.informacion_consolidada === 'NO' ? true : null"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-6 border px-2 pt-2 grid grid-cols-12">
        <div class="col-span-4 flex flex-col items-center">
          <p class="text-10px">Patrimonio Autónomo</p>
          <input
            type="checkbox"
            disabled
            [attr.checked]="form.data.tipo_identidad.tipo === 'Patrimonio Autónomo' ? true : null"
          />
        </div>
        <div class="col-span-4 flex flex-col items-center">
          <p class="text-10px">Fondo de Capital Privado</p>
          <input
            type="checkbox"
            disabled
            [attr.checked]="form.data.tipo_identidad.tipo === 'Fondo de Capital Privado' ? true : null"
          />
        </div>
        <div class="col-span-4 flex flex-col items-center">
          <p class="text-10px">Fondo de Inv Colectiva</p>
          <input
            type="checkbox"
            disabled
            [attr.checked]="form.data.tipo_identidad.tipo === 'Fondo deInversiónColectiva' ? true : null"
          />
        </div>
        <div class="col-span-2 mt-1 mtr-2 flex gap-1">
          <p class="text-10px">Otros</p>
          <input
          type="checkbox"
          disabled
          [attr.checked]="
            form.data.tipo_identidad.tipo === 'Otros'
              ? true
              : null
          "
        />
        </div>
        <!-- <div class="col-span-8 mt-1  mtr-2">
          <p
            class="text-10px  text-center px-2 p-1.5 w-full min-h-15px border rounded-sm"
          >
            {{ form.data.tipo_identidad.otros }}
          </p>
        </div> -->
      </div>
      <div class="col-span-12 p-1">
        <h4 class="text-10px w-100 font-semibold text-start">
          VI. Identificación del importador
        </h4>
      </div>
      <div class="col-span-12 p-2 border">
        <table class="w-full">
          <thead class="p-2 border-b-[1px] border-b-1px border-black">
            <tr>
              <th class="py-2 text-10px">Tipo</th>
              <th class="py-2 text-10px">Número de identificación</th>
              <th class="py-2 text-10px">dv</th>
              <th class="py-2 text-10px">
                Nombre o razón social del importador
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center">
              <td class="py-0.5 text-10px">
                {{ form.data.identificacion_de_importador.tipo_documento }}
              </td>
              <td class="py-0.5 text-10px">
                {{ form.data.identificacion_de_importador.numero_documento }}
              </td>
              <td class="py-0.5 text-10px">
                {{ form.data.identificacion_de_importador.dv }}
              </td>
              <td class="py-0.5 text-10px">
                {{ form.data.identificacion_de_importador.nombre_razon_social }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-span-12 p-1">
        <h4 class="text-10px w-100 font-semibold text-start">
          VII. Descripción de la operación
        </h4>
      </div>
      <div class="col-span-12 p-2 border">
        <table class="w-full">
          <thead class="p-2 border-b-[1px] border-b-1px border-black">
            <tr>
              <th class="py-2 text-10px">Numeral cambiario</th>
              <th class="py-2 text-10px">Cod. Mda. Negociación</th>
              <th class="py-2 text-10px">Vr. Total Mda Negociación</th>
              <th class="py-2 text-10px">Tasa de cambio a dólar</th>
              <th class="py-2 text-10px">Valor total en dólares</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="text-center"
              *ngFor="
                let item of form.data.descripcion_de_la_operacion;
                let i = index
              "
            >
              <td class="py-0.5 text-10px">
                {{ form.data.descripcion_de_la_operacion[i].numero_cambiario }}
              </td>
              <td class="py-0.5 text-10px">
                {{
                  form.data.descripcion_de_la_operacion[0].cod_mda_negociacion
                }}
              </td>
              <td class="py-0.5 text-10px">
                {{
                  form.data.descripcion_de_la_operacion[i]
                    .vr_total_mda_negociacion | dolarFormat: ''
                }}
              </td>
              <td class="py-0.5 text-10px">
                {{ form.data.descripcion_de_la_operacion[i].tasa_de_cambio }}
              </td>
              <td class="py-0.5 text-10px">
                {{
                  form.data.descripcion_de_la_operacion[i]
                    .vr_total_mda_negociacion  | dolarFormat: ''
                }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-span-12 p-1">
        <h4 class="text-10px w-100 font-semibold text-start mb-2">
          VIII. Información requerida para la DIAN
        </h4>
        <p class="text-10px text-justify mt-4">
          Si la mercancía ingresa del
          exterior al Territorio Aduanero Nacional, debe relacionar el número de
          Aceptación de la Declaración de Importación. Si la mercancía ingresa
          del exterior a la Zona Franca o es un envió courrier debe relacionar
          el número de la Factura Comercial expedida por el proveedor del
          exterior, la cual puede ser Alfanumérica.
        </p>
      </div>
      <div class="col-span-12 p-2 border">
        <table class="w-full">
          <thead class="p-2 border-b-[1px] border-b-1px border-black">
            <tr>
              <th class="py-2 text-10px">
                Número de declaración de importación y/o factura comercial
              </th>
              <th class="py-2 text-10px">Valor FOB en dólares DIM y/o FRAM</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="text-center"
              *ngFor="let item of form.data.informacion_DIAN; let i = index"
            >
              <td class="py-0.5 text-10px">
                {{ form.data.informacion_DIAN[i].numero_o_factura }}
              </td>
              <td class="py-0.5 text-10px">
                {{ form.data.informacion_DIAN[i].valor_FOB | dolarFormat: '' }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-span-12 p-2 border flex flex-wrap mt-2">
        <p class="text-10px text-justify mt-1">Observaciones</p>
        <div class="w-[90%] text-start p-2 text-10px  min-h-100px"> {{ form.data.observaciones }}</div>
      </div>
      <div class="col-span-12 p-1 mt-2">
        <p class="text-[8px] text-justify">
          Declaro bajo gravedad de juramento que la información aquí
          suministrada es cierta, completa y actualizada, corresponde a los
          datos mínimos de las operaciones de cambio requeridos por las
          autoridades cambiarias competentes, entiendo y asumo la
          responsabilidad por cualquier falsedad o inconsistencia en esta
          información. A su vez, reconozco y acepto que CORFICOLOMBIANA Y/O CASA
          DE BOLSA. en su calidad de Intermediario del Mercado Cambiario en caso
          de ser requerido por las autoridades administrativas y sancionatorias
          competentes, frente a esta operación, entregue la información mínima
          suministrada, la cual se entenderá como cierta y veraz. He leído el
          formato y el instructivo que con la firma se está aceptando las
          condiciones de esta solicitud.
        </p>
      </div>
      <div class="col-span-12 p-1">
        <h4 class="text-10px w-100 font-semibold text-start">
          IX. Identificación del declarante
        </h4>
      </div>
      <div class="col-span-12 border p-2 grid grid-cols-12">
        <div class="col-span-6 pr-1">
          <p class="text-10px min">Nombre</p>
          <div class="px-3 py-1 border text-10px min-h-15px uppercase">{{ usuario.nombre }}</div>
          <p class="text-10px mt-2">Documento</p>
          <div class="px-3 py-1 border text-10px min-h-15px">{{ usuario.documento }}</div>
        </div>
        
        <div class="col-span-6">
          <p class="text-10px">Firma</p>
          <div class="p-5 border-b-[1px] border-b-1px pt-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>
