td {
    border: 1px #bbb9b9 solid;
  }
  .text-10px {
    font-size: 11px;
  }
  .bg-yellow-200 {
    content: "X" !important;
  }
  .py-1 p {
    font-weight: 800;
  }
  .bg-blue-100 {
    margin-bottom: 2px !important;
    min-height: 20px;
  }
  .min-h-15px {
    min-height: 24px;
  }