/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6b9;
}
p,
th {
  color: #333;
}

h1,
h2,
h3,
h4,
h5 {
  color: #00185f;
}

.alertInput {
  color: red;
  padding: 2px 0;
  margin: 0;

  p {
    font-size: 12px;
    padding: 0;
    margin: 0;
  }
}
form input[type="radio"] {
  width: 20px !important;
  height: 20px;
  margin: 0 0 4px 5px;
}
@media (max-width: 1080px) {
  p,
  label,
  th {
    font-size: 0.9rem;
  }
  .alertInput {
    p {
      font-size: 10px !important;
    }
  }
}
// .introjs-bullets {
//   display: none;
// }
.introjs-arrow {
  display: none !important;
}
// .introjs-tooltip {
//   border-radius: 20px !important;
// }
// .step1-tooltip {
//   min-width: 600px !important;
//   max-width: 600px !important;
// }
// .step2-tooltip {
//   min-width: 300px !important;
//   max-width: 400px !important;
// }
.introjs-tooltiptext {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  text-align: center;
  p {
    // text-align: justify;

    text-align: center;
  }
}
.introjs-prevbutton {
  display: none !important;
}
.introjs-helperLayer {
  box-shadow: rgba(33, 33, 33, 0.8) 0px 0px 1px 0px,
    rgba(33, 33, 33, 0.5) 0px 0px 0px 5000px !important;
}
.introjs-tooltipbuttons {
  border-top: none !important;
  display: flex;
  justify-content: center;
  padding: 0 1rem 0.5rem 1rem !important;
  .introjs-button {
    border: none;
    background-color: inherit;
    // font-style: italic;
    margin-bottom: 0.5rem;
    font-weight: 200 !important;
    padding: 8px 16px;
    border-radius: 30px;
    background: #0065bd;
    text-shadow: none !important  ;
    color: #ffffff !important;
  }
  .introjs-button:focus {
    border: none;

    background: #0065bd;
    box-shadow: none !important;
  }
  .introjs-button:hover {
    background-color: #ebeaea !important;
    background-color: inherit;
  }
}
.introjs-bullets {
  padding-top: 0 !important;
}
.introjs-helperLayer,
.introjs-overlay {
  // max-height: 95vh;
}
