.tooltip {
  position: relative;
  border-radius: 4px;
  z-index: 10;
}
.tooltip:hover .tooltipContent {
  display: block;
}
.tooltipContent {
  position: absolute;
  margin-top: -40px;
  width: max-content;
  max-width: 90vw;
  min-width: 150px;
  color: #fff;
  bottom: 20px;
  margin-left: -70px;
  border-radius: 4px;
  padding: 0.5rem;
  z-index: 10;
  display: none;
  word-wrap: break-word;
}
