<app-pop-up-alert
  *ngIf="ShowPopUp === true"
  (showPopUp)="showActivePopUp($event)"
  [Messagge]="MessaggePopUp"
></app-pop-up-alert>
<!-- {{ formId }} -->
<form (ngSubmit)="validateForm(step1Form)" #step1Form="ngForm">
  <div class="grid grid-cols-12 pt-4">
    <div class="col-span-12 mt-4 grid grid-cols-12">
      <div class="col-span-12">
        <h3 class="font-semibold text-lg">Descripción del préstamo</h3>
      </div>
      <div class="col-span-12 p-1">
        <div class="inputs">
          <!-- {{ formF7.descripcion_del_prestamo }} -->
          <div class="row col-span-12 grid grid-cols-12">
            <div
              class="col-span-12 md:col-span-6 lg:col-span-3 xl:col-span-3 p-1"
            >
              <p class="text-base">Código propósito del préstamo</p>

              <select
                type="text"
                placeholder=""
                class="bg-gray-50 px-2 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pX-2.5 py-1"
                [name]="'codigo_proposito_prestamo'"
                #codigo_proposito_prestamo="ngModel"
                placeholder=""
                required
                [class.error]="
                  codigo_proposito_prestamo.invalid && submitInvalid
                "
                [(ngModel)]="
                  formF7.descripcion_del_prestamo.codigo_proposito_prestamo
                "
              >
                <option *ngFor="let tipo of codigoPropositoPrestamo" [value]="tipo.id">
                {{ tipo.descripcion }}
                </option>
              </select>
            </div>
            <div
              class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-3 p-1 flex flex-col justify-between"
            >
              <p class="">Código moneda</p>

              <select
                [name]="'codigo_codigo_moneda'"
                #codigo_codigo_moneda="ngModel"
                required
                class="bg-gray-50 px-2 border min-h-[34px] border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pX-2.5 py-1"
                required
                [class.error]="codigo_codigo_moneda.invalid && submitInvalid"
                [(ngModel)]="formF7.descripcion_del_prestamo.codigo_moneda"
              >
                <option value="">Seleccionar moneda</option>
                <option *ngFor="let moneda of monedas" [value]="moneda.code">
                  {{ moneda.code }} {{ moneda.name }}
                </option>
              </select>
            </div>
            <div
              class="col-span-12 md:col-span-6 lg:col-span-3 xl:col-span-3 p-1"
            >
              <p class="text-base">Valor Moneda estipulada</p>

              <input
                type="text"
                placeholder=""
                class="bg-gray-50 px-2 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pX-2.5 py-1"
                [name]="'valor_moneda_estipulada3'"
                #valor_moneda_estipulada3="ngModel"
                placeholder=""
                required
                [class.error]="
                  valor_moneda_estipulada3.invalid && submitInvalid
                "
                [(ngModel)]="
                  formF7.descripcion_del_prestamo.valor_moneda_estipulada
                "
                dolarFormat
              />
            </div>
            <div
              class="col-span-12 md:col-span-6 lg:col-span-3 xl:col-span-3 p-1 flex flex-wrap"
            >
              <p class="text-base w-full">Tasa de interés</p>

              <select
                type="text"
                placeholder=""
                class="bg-gray-50 px-2 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[90%] pX-2.5 py-1"
                required
                [name]="'tasa_interes3'"
                #tasa_interes="ngModel"
                placeholder=""
                [class.error]="tasa_interes.invalid && submitInvalid"
                [(ngModel)]="formF7.descripcion_del_prestamo.tasa_interes"
              >
                <option *ngFor="let tipo of tasasInteres" [value]="tipo.descripcion">
                  {{ tipo.descripcion }}
                </option>
              </select>
            </div>
            <div
              class="col-span-12 md:col-span-6 lg:col-span-3 xl:col-span-3 p-1 flex flex-wrap"
            >
              <p class="text-base w-full">Spread o valor</p>

              <input
                type="text"
                placeholder=""
                class="bg-gray-50 px-2 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pX-2.5 py-1"
                [name]="'tasa_interes3'"
                #tasa_interes="ngModel"
                placeholder=""
                [class.error]="tasa_interes.invalid && submitInvalid"
                [(ngModel)]="formF7.descripcion_del_prestamo.spread_valor"
              />
            </div>
            <div
              class="col-span-12 md:col-span-6 lg:col-span-3 xl:col-span-2 p-1 flex flex-wrap"
            >
              <p class="text-base w-full">Plazo</p>

              <input
                type="number"
                placeholder=""
                required
                class="bg-gray-50 px-2 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pX-2.5 py-1"
                [name]="'descripcion_del_prestamo_plazo3'"
                #descripcion_del_prestamo_plazo="ngModel"
                placeholder=""
                [class.error]="
                  descripcion_del_prestamo_plazo.invalid && submitInvalid
                "
                [(ngModel)]="formF7.descripcion_del_prestamo.plazo"
              />
            </div>
            <div
              class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-3 p-1 flex flex-col justify-between"
            >
              <p class="">Tiempo</p>

              <select
                [name]="'descripcion_del_prestamo.tiempo'"
                #descripcion_del_prestamo_tiempo="ngModel"
                required
                class="bg-gray-50 px-2 border min-h-[34px] border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pX-2.5 py-1"
                required
                [class.error]="
                  descripcion_del_prestamo_tiempo.invalid && submitInvalid
                "
                [(ngModel)]="formF7.descripcion_del_prestamo.tiempo"
              >
                <option value="">Selecciona</option>
                <option value="Días">Días</option>
                <option value="Meses">Meses</option>
                <option value="Años">Años</option>
              </select>
            </div>
            <div
              class="col-span-12 md:col-span-6 lg:col-span-3 xl:col-span-3 p-1 flex flex-wrap"
            >
              <p class="text-base w-full">Número de depósitos por financia</p>

              <input
                type="text"
                placeholder=""
                required
                class="bg-gray-50 px-2 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[90%] pX-2.5 py-1"
                [name]="'numero_deposito_dinanciacion3'"
                #numero_deposito_dinanciacion="ngModel"
                [class.error]="
                  numero_deposito_dinanciacion.invalid && submitInvalid
                "
                [(ngModel)]="
                  formF7.descripcion_del_prestamo.numero_deposito_dinanciacion
                "
              />
            </div>
          </div>
        </div>

        <!-- <div class="w-full flex justify-end">
          <button type="button" *ngIf="formF7.descripcion_del_prestamo.length < 10" (click)="agregarImportador()"
            class="text-blue-button mt-2 bg-green-button hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-2xl border border-gray-200 text-sm font-medium px-7 py-1.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
            Agregar operación
          </button>
        </div> -->
      </div>
    </div>

    <div class="col-span-12 mt-4 grid grid-cols-12">
      <div class="col-span-12">
        <h3 class="font-semibold text-lg text-start">Plan de amortización</h3>
      </div>
      <div class="col-span-12 p-1">
        <div class="inputs">
          <!-- {{ formF7.descripcion_del_prestamo }} -->
          <div class="row col-span-12 grid grid-cols-12">
            <div
              class="col-span-12 lg:col-span-6 grid grid-cols-12"
              *ngFor="let plan of formF7.plan_de_armonizacion; let i = index"
            >
              <div class="col-span-12 md:col-span-6 p-1">
                <p class="text-base">Fecha</p>
                <input
                  type="date"
                  class="bg-gray-50 px-2 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pX-2.5 py-1"
                  [name]="'otro_documento_factura' + i"
                  id=""
                  required
                  [class.error]="
                    otro_documento_factura.invalid && submitInvalid
                  "
                  #otro_documento_factura="ngModel"
                  [(ngModel)]="formF7.plan_de_armonizacion[i].fecha"
                />
              </div>

              <div class="col-span-12 md:col-span-6 p-1 flex flex-wrap">
                <p class="text-base w-full">Valor moneda contratada</p>

                <input
                  type="text"
                  placeholder=""
                  required
                  class="bg-gray-50 px-2 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[90%] pX-2.5 py-1"
                  [name]="'valor_cuota' + i"
                  #valor_cuota="ngModel"
                  [class.error]="valor_cuota.invalid && submitInvalid"
                  [(ngModel)]="formF7.plan_de_armonizacion[i].valor_cuota"
                  dolarFormat
                />
                <button
                  *ngIf="formF7.plan_de_armonizacion.length > 1"
                  class="text-black hover:bg-gray-100 focus:ring-4 hover:border-white focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-600 text-sm font-medium px-1 py-0.5 hover:text-gray-900 focus:z-10"
                  type="button"
                  (click)="deletePlan(i)"
                >
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="w-full flex justify-end">
          <button
            type="button"
            *ngIf="formF7.plan_de_armonizacion.length < 30"
            (click)="agregarPlan()"
            class="text-blue-button mt-2 bg-green-button hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-2xl border border-gray-200 text-sm font-medium px-7 py-1.5 hover:text-gray-900 focus:z-10"
          >
            Agregar plan
          </button>
        </div>
      </div>
    </div>
    <div class="col-span-12 mt-4 grid grid-cols-12">
      <div class="col-span-12">
        <h3 class="font-semibold text-lg text-start">
          Información para la transmisión de otros procedimientos especiales de
          crédito
        </h3>
      </div>
      <div class="col-span-12 p-1">
        <div class="inputs">
          <!-- {{ formF7.descripcion_del_prestamo }} -->
          <div class="row col-span-12 grid grid-cols-12">
            <div
              class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-3 p-1 flex flex-col justify-between"
            >
              <p class="">Tipo</p>

              <select
                [name]="'tipo_transmision'"
                #tipo_transmision="ngModel"
                class="bg-gray-50 px-2 border min-h-[34px] border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pX-2.5 py-1"
                [class.error]="tipo_transmision.invalid && submitInvalid"
                [(ngModel)]="
                  formF7.informacion_transmision_procedimientos_credito
                    .tipo_transmision
                "
              >
                <option value="">Seleccionar moneda</option>
                <option
                  *ngIf="formF7.tipo_de_solicictud.tipo == 'Modificación'"
                  value="Fraccionamiento"
                >
                  Fraccionamiento
                </option>
                <option value="Sustitución">Sustitución</option>
                <option value="Consolidación">Consolidación</option>
                <option value="Indexación">Indexación</option>
              </select>
            </div>
            <div
              class="col-span-12 md:col-span-6 lg:col-span-3 p-1 flex flex-wrap"
            >
              <p
                class="text-base w-full"
                *ngIf="
                  formF7.informacion_transmision_procedimientos_credito
                    .tipo_transmision == 'Fraccionamiento' ||
                  formF7.informacion_transmision_procedimientos_credito
                    .tipo_transmision == ''
                "
              >
                Número de crédito a fraccionar
              </p>
              <p
                class="text-base w-full"
                *ngIf="
                  formF7.informacion_transmision_procedimientos_credito
                    .tipo_transmision == 'Sustitución'
                "
              >
                Número de crédito a sustituir
              </p>
              <p
                class="text-base w-full"
                *ngIf="
                  formF7.informacion_transmision_procedimientos_credito
                    .tipo_transmision == 'Consolidación'
                "
              >
                Número de crédito a consolidar
              </p>
              <p
                class="text-base w-full"
                *ngIf="
                  formF7.informacion_transmision_procedimientos_credito
                    .tipo_transmision == 'Indexación'
                "
              >
                Número de crédito a indexar
              </p>

              <input
                type="number"
                placeholder=""
                class="bg-gray-50 px-2 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pX-2.5 py-1"
                [name]="'numero_de_creaditos_sustituir'"
                #numero_de_creaditos_sustituir="ngModel"
                placeholder=""
                [class.error]="
                  numero_de_creaditos_sustituir.invalid && submitInvalid
                "
                [(ngModel)]="
                  formF7.informacion_transmision_procedimientos_credito
                    .numero_de_creaditos_sustituir
                "
              />
            </div>
            <div
              *ngIf="
                formF7.informacion_transmision_procedimientos_credito
                  .tipo_transmision == 'Indexación'
              "
              class="col-span-12 md:col-span-6 lg:col-span-3 p-1 flex flex-wrap"
            >
              <p class="text-base w-full">Código moneda a indexar</p>

              <input
                type="number"
                placeholder=""
                class="bg-gray-50 px-2 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pX-2.5 py-1"
                [name]="'numero_de_creaditos_sustituir'"
                #numero_de_creaditos_sustituir="ngModel"
                placeholder=""
                [class.error]="
                  numero_de_creaditos_sustituir.invalid && submitInvalid
                "
                [(ngModel)]="
                  formF7.informacion_transmision_procedimientos_credito
                    .codigo_moneda
                "
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-12 mt-4 grid grid-cols-12">
      <div class="col-span-12">
        <h3 class="font-semibold text-lg">
          Información del Deudor o informacion del acreedor
        </h3>
      </div>
      <div class="col-span-12 p-1">
        <div class="inputs">
          <div class="row col-span-12 grid grid-cols-12">
            <div
              class="col-span-12 md:col-span-6 lg:col-span-4 p-1 flex flex-wrap gap-x-1"
            >
              <p class="text-base w-full">Naturaleza</p>

              <input
                type="text"
                placeholder=""
                [name]="'informacion_residente_naturaleza'"
                #informacion_residente_naturaleza="ngModel"
                class="bg-gray-50 px-2 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pX-2.5 py-1"
                [class.error]="
                  informacion_residente_naturaleza.invalid && submitInvalid
                "
                [(ngModel)]="formF7.datos_del_deudor.naturaleza"
              />
            </div>
            <div
              class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-3 p-1 flex flex-wrap gap-x-1"
            >
              <p class="text-base w-full">Tipo de empresa</p>

              <input
                type="text"
                placeholder=""
                [name]="'informacion_residente_tipo_empresa'"
                #informacion_residente_tipo_empresa="ngModel"
                class="bg-gray-50 px-2 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pX-2.5 py-1"
                [class.error]="
                  informacion_residente_naturaleza.invalid && submitInvalid
                "
                [(ngModel)]="formF7.datos_del_deudor.tipo_empresa"
              />
            </div>

            <div
              class="col-span-12 md:col-span-6 lg:col-span-6 xl:col-span-5 p-1"
            >
              <div class="">
                <p class="text-base text-center">
                  ¿Es vigilado por alguna superintendencia?
                </p>
                <!-- <app-tool1 [content]="textTipoOperacion"></app-tool1> -->
              </div>

              <div class="flex gap-1 justify-center items-center h-9">
                <label for="">SI</label>
                <input
                  type="radio"
                  name="es_vigilado_superintendencia"
                  id=""
                  #es_vigilado_superintendencia="ngModel"
                  [(ngModel)]="
                    formF7.datos_del_deudor.es_vigilado_superintendencia
                  "
                  value="SI"
                />
                <label class="ml-2" for="">NO</label>
                <input
                  type="radio"
                  name="es_vigilado_superintendencia"
                  id=""
                  #es_vigilado_superintendencia="ngModel"
                  [(ngModel)]="
                    formF7.datos_del_deudor.es_vigilado_superintendencia
                  "
                  value="NO"
                />
              </div>
              <div
                class="alertInput text-center"
                *ngIf="es_vigilado_superintendencia.invalid && submitInvalid"
              >
                <p>Campo obligatorio</p>
              </div>
            </div>

            <div
              *ngIf="
                formF7.datos_del_deudor.es_vigilado_superintendencia == 'SI'
              "
              class="col-span-12 md:col-span-6 xl:col-span-6 p-1 flex flex-wrap gap-x-1"
            >
              <p class="text-base w-full">
                Si se encuentra vigilado por alguna superintendencia, indique
                cual
              </p>

              <input
                type="text"
                placeholder=""
                [name]="'informacion_residente_tipo_empresa'"
                #informacion_residente_tipo_empresa="ngModel"
                class="bg-gray-50 px-2 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pX-2.5 py-1"
                [class.error]="
                  informacion_residente_naturaleza.invalid && submitInvalid
                "
                [(ngModel)]="formF7.datos_del_deudor.tipo_empresa"
              />
            </div>
            <div
              class="col-span-12 md:col-span-6 xl:col-span-5 p-1 flex flex-wrap gap-x-1"
            >
              <p class="text-base w-full">sector</p>

              <input
                type="text"
                placeholder=""
                [name]="'informacion_residente_tipo_empresa'"
                #informacion_residente_tipo_empresa="ngModel"
                class="bg-gray-50 px-2 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pX-2.5 py-1"
                [class.error]="
                  informacion_residente_naturaleza.invalid && submitInvalid
                "
                [(ngModel)]="formF7.datos_del_deudor.tipo_empresa"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-center gap-2 mt-2">
    <button
      class="mt-2 text-base text-blue-button bg-green-button hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-2xl border border-gray-200 font-medium px-7 py-1.5 hover:text-gray-900 focus:z-10"
    >
      Guardar
    </button>
  </div>
</form>
